// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$creme: #FBF3E0;
$myred: #B84231;
$black: #2B2013;
$gold: #D6AB2F;
$white: #FDFCF8;