<h2>Liste des Cocktails</h2>
<% @cocktails.each do |cocktail, dose| %>
  <hr/>
  <%= render "shared/card", cocktail: cocktail %>
<% end %>
<hr/>
<h4 class="">Add a cocktail</h4>
<%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, class: "btn btn-sm btn-outline-primary btn-block" %>
<% end %>