$creme: #FBF3E0;
$myred: #B84231;
$black: #2B2013;
$gold: #D6AB2F;
$white: #FDFCF8;

.hero-container {
  background-position: center center;
  background-size: cover;
  padding: 150px 0;
  background: linear-gradient(165.37deg, rgba(0, 0, 0, 0.76) 25.99%, rgba(0, 0, 0, 0.45) 79.23%), url('https://source.unsplash.com/collection/10571700/1600x900');
  height: 80vh;
  padding-left: 15%;
  padding-top: 15%;
}

.hero-title h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 52px;
  font-weight: bold;
}
