// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

.pre-content {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#add_cocktail {
  cursor: pointer;
}

.hide {
  display: none;
}